.header {
  background: linear-gradient(
      to right bottom,
      rgba($color-secondary-dark, 0.8),
      rgba($color-black, 0.7)
    ),
    url('../images/home/city.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text-box {
    text-align: center;
  }
}
