.header-blog {
  background: linear-gradient(
      to right bottom,
      rgba($color-secondary-dark, 0.8),
      rgba($color-black, 0.5)
    ),
    url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 50vh;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text-box {
    text-align: center;

    @include respond(phone) {
      margin-top: 10rem;
    }
  }
}
