.header {
  background: linear-gradient(
    to right bottom,
    rgba($color-secondary-dark, 0.8),
    rgba($color-black, 0.5)
  );
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    height: 80vh;
  }

  @include respond(tab-port) {
    height: 80vh;
  }

  @include respond(phone) {
    height: 80vh;
  }

  &__text-box {
    text-align: center;

    @include respond(phone) {
      margin-top: 10rem;
    }
  }
}
