.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 2.2rem;
  cursor: pointer;
}

.btn--light {
  color: $color-white;
  border: 0.15px $color-white solid;
  background: rgba($color-black, 0.02);

  &::before,
  &::after {
    background: $color-white;
  }
}

.btn--dark {
  border: 0.15px $color-grey-dark-1 solid;
  color: $color-grey-dark-1;
  background: rgba($color-black, 0.02);

  &::before,
  &::after {
    background: $color-grey-dark-1;
  }
}

.btn--main {
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 0;
    height: 0.5px;
    position: absolute;
    transition: all 0.2s linear;
    transition-delay: 0s;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    transition-delay: 0.2s;
  }

  &:hover .btn__span::before,
  &:hover .btn__span::after {
    transition-delay: 0s;
  }
}

.btn__span {
  display: inline-block;
  padding: 1.3rem 3.5rem;

  &--light::before,
  &--light::after {
    background: $color-white;
  }

  &--dark::before,
  &--dark::after {
    background: $color-grey-dark-1;
  }

  &::before,
  &::after {
    content: '';
    width: 0.5px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    transition-delay: 0.2s;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    height: 100%;
    transition-delay: 0.2s;
  }
}

.btn--submit {
  width: 100%;
  margin-top: 1rem;
  display: inline-block;
  padding: 1.4rem 2.5rem;
  background: $color-navy-blue;
  color: $color-white;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $color-secondary-light;
    color: #fff;
  }
}
