.card {
  &--animated {
    animation: fadeIn 1s ease-in-out;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    &--reversed {
      flex-direction: row-reverse;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    @include respond(phone) {
      flex: 100%;
      max-width: 100%;
    }

    &--1 {
      height: 100%;
    }

    &--2 {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 6rem;

      @include respond(phone) {
        padding: 4.5rem;
      }
    }

    &--blog {
      @include respond(tab-port) {
        flex: 100%;
        max-width: 100%;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__author,
  &__date {
    font-size: 1.8rem;

    &--light {
      color: $color-grey-dark-1;
    }

    &--dark {
      color: $color-white;
    }
  }

  &__icon {
    &--light {
      color: $color-grey-dark-1;
    }

    &--dark {
      color: $color-white;
    }
  }
}

.bi-person {
  font-size: 2.15rem;
}

.bi-calendar2-check {
  margin-left: 0.1rem;
  margin-right: 0.3rem;
}
