.cases {
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.4rem;

    @include respond(tab-port) {
      flex: 50%;
      max-width: 100%;
    }

    @include respond(phone) {
      flex: 100%;
      max-width: 100%;
    }
  }

  &__img {
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 0.4rem;

    &:hover {
      opacity: 1;
    }
  }
}
