.mgmt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-wrap: wrap;

  &__container {
    @include respond(tab-land) {
      width: 100%;
    }
  }

  &__container:not(:last-child) {
    @include respond(tab-land) {
      margin-bottom: 4rem;
    }

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__img {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin: 0 2.5rem;

    @include respond(tab-land) {
      width: 28vh;
      height: 28vh;
    }
  }

  &__person {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.8rem;
  }

  &__position {
    font-size: 2.1rem;
    color: $color-grey-dark-2;
  }

  &__divider {
    height: 0.2rem;
    background-color: $color-primary;
    width: 4rem;
    display: block;
    margin: 0 auto;
  }
}
