body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px / 16 */

  @include respond(tab-land) {
    font-size: 55%;
  }

  @include respond(tab-port) {
    font-size: 47%;
  }

  @include respond(phone) {
    font-size: 40.62%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
