.section-about {
  padding: 5rem;
  background: $color-grey-light-1;
}

.section-cases {
  padding: 5rem;
  text-align: center;
}

.section-mgmt {
  padding: 5rem;
  text-align: center;
}
